# Do not share your OpenAI API key with anyone! It should remain a secret.
OPENAI_API_KEY=xxxxx
GEMINI_API_KEY=xxxxx

GOOGLE_CLIENT_SECRET=xxxx
GOOGLE_CLIENT_ID=xxxxx

EMAIL=YOUR_GMAIL
PASSWORD=GMAIL_PASSWORD

NEXT_PUBLIC_URL=http://localhost:3000

PORT=3000
